@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.app {
    .container {

        //login
        .auth {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url("./img/login-bg.png");
            background-size: cover;
            background-position: center;

            .auth__bg {
                padding: 70px 90px;
                background-color: #fff;
                border-radius: 50px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                h1 {
                    margin: 0;
                    font-size: 50px;
                    font-family: Coiny, cursive;
                    color: #3289A0;
                }

                form {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;
                    margin: 0;
                    background-color: #fff;
                    gap: 20px;

                    input {
                        padding: 10 px;
                        border: 2px solid #3289A0;
                        border-radius: 100px;
                        font-family: Comfortaa, cursive;
                        height: 58px;
                        width: 281px;
                        font-size: 20px;
                        text-align: center;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }

                    button {
                        padding: 10px;
                        border: 2px solid #3289A0;
                        border-radius: 100px;
                        height: 50px;
                        width: 177px;
                        font-family: Coiny, cursive;
                        font-size: 18px;
                        text-align: center;
                        background-color: #3289A0;
                        color: #fff;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                }
            }

            .auth__img {
                position: absolute;
                bottom: 220px;
                right: 470px;
                width: 200px;
                height: 200px;

                @media only screen and (max-width: 1400px) and (max-width: 1399px){
                    position: absolute;
                    bottom: 220px;
                    right: 200px;
                    width: 350px;
                    height: 200px;
                }

                @media only screen and (max-width: 1332px) and (min-width:900px){
                    position: absolute;
                    bottom: 220px;
                    right: 170px;
                    width: 350px;
                    height: 200px;
                }

                @media only screen and (max-width: 899px) and (min-width:600px) {
                    position: absolute;
                    bottom: 10px;
                    right: 5rem;
                    width: 350px;
                    height: 200px;
                }

                @media only screen and (max-width: 599px)  {
                    position: absolute;
                    bottom: 5px;
                    right: auto;
                    width: 350px;
                    height: 200px;
                }
                
            }

            .auth_img_img{
                @media only screen and (min-width: 1400px) {
                    width: 20rem;
                    height: auto;
                    bottom: 220px;
                    right: 470px;

                }

                @media only screen and (min-width:1333px) and (max-width: 1399px) {
                    width: 17rem;
                    height: auto;
                    bottom: 220px;
                    right: 470px;
                }

                @media only screen and (max-width: 1332px) and (min-width:1031px) {
                    width: 15rem;
                    height: auto;
                }

                @media only screen and (max-width: 1030px) {
                    width: 13rem;
                    height: auto;
                    bottom: 100px;
                    display: flex;
                    align-self: center;
                }
            }
        }
    }
}